
.cabecalho .header-mobile {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 75px;
  top: 70px;
  background-color: #3c5a75;
  height: 120px;
  width: 120px;
  border-radius: 8px;

}

.cabecalho .header-mobile a {
  text-decoration: none;
  color: #fff;
  font-size: 0.95em;
}
@media screen and (min-width: 950px) {
    .cabecalho .header-mobile {
        display: none;
    }
}
