.titulo{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo h2{
    font-size: 1.8em;

}

.titulo aside{
    width: 150px;
    height: 4px;
    background-color: #AEAEAE;
    border-radius: 10px 0px 10px 0;
}

@media screen and (max-width: 800px) {
    
.titulo h2{
    font-size: 1.5em;

}
}