.carrosselFilmes {
  width: 100%;
  height: max-content;
  padding: 30px 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: initial;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.carrosselFilmes::-webkit-scrollbar {
  display: none;
}
