.full-generos{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    padding: 0 80px;
    margin-bottom: 80px;
}

.full-generos span{
    border-radius: 10px;
    background-color: #2e4053;
    padding: 10px 20px;
    transition: 0.3s all;
}

.full-generos span:hover{
    background-color: #435b76;

}

.full-generos .listagemFilmes{
    padding: 50px 0;
}


@media screen and (max-width: 1060px) {
    .full-generos{
        margin-top: 20px;
    }

}

@media screen and (max-width: 850px) {
    .full-generos span{

        padding: 5px 10px;

    }


}

@media screen and (max-width: 950px) {
    .full-generos{
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px) {
    .full-generos .listagemFilmes .card-filme{
        max-width: 260px;
    }

}