.melhores-avaliados {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  height: max-content;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1060px) {
  .melhores-avaliados {
  padding: 30px 20px;
}
}
