@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@900&family=Source+Sans+3:wght@700&display=swap');


*, html, body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  height: 100%;
  background-color: #1A242E;
}
